<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="2a5ea0ba8fae41c28e45890de4941afb" class="chart-container" style="width:700px; height:450px;"></div>
    <script>
        var chart_2a5ea0ba8fae41c28e45890de4941afb = echarts.init(
            document.getElementById('2a5ea0ba8fae41c28e45890de4941afb'), 'white', {renderer: 'canvas'});
        var option_2a5ea0ba8fae41c28e45890de4941afb = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u6570\u5b66\u5b66\u79d1\u5e73\u5747\u5206\u6392\u540d",
            "legendHoverLink": true,
            "data": [
                85.95744680851064,
                87.28571428571429,
                84.88541666666667
            ],
            "showBackground": true,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "right",
                "margin": 8,
                "formatter": "{b}\u73ed\uff1a{c}\u5206"
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6570\u5b66\u5b66\u79d1\u5e73\u5747\u5206\u6392\u540d"
            ],
            "selected": {
                "\u6570\u5b66\u5b66\u79d1\u5e73\u5747\u5206\u6392\u540d": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 60,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "301",
                "302",
                "303"
            ]
        }
    ],
    "title": [
        {
            "text": "\u6570\u5b66\u5b66\u79d1\u5e73\u5747\u5206\u6392\u540d",
            "link": "/Edu_visualization/teacher_visual/show_bar02/",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 84.89,
        "max": 87.29,
        "text": [
            "\u6700\u5927\u503c",
            "\u6700\u5c0f\u503c"
        ],
        "textStyle": {
            "color": "rgba(0,0,0,0.5)"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "dimension": 0,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_2a5ea0ba8fae41c28e45890de4941afb.setOption(option_2a5ea0ba8fae41c28e45890de4941afb);
    </script>
</body>
</html>
