<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="d573a8ee5b9a439bae76e66c71247804" class="chart-container" style="width:700px; height:450px;"></div>
    <script>
        var chart_d573a8ee5b9a439bae76e66c71247804 = echarts.init(
            document.getElementById('d573a8ee5b9a439bae76e66c71247804'), 'white', {renderer: 'canvas'});
        var option_d573a8ee5b9a439bae76e66c71247804 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "boxplot",
            "name": "301\u73ed\u5b66\u79d1\u5206\u6570\u5206\u5e03",
            "data": [
                [
                    69.0,
                    83.0,
                    88.0,
                    92.5,
                    98.0
                ],
                [
                    62.0,
                    80.5,
                    88.0,
                    92.0,
                    100.0
                ],
                [
                    54.0,
                    86.0,
                    96.0,
                    98.0,
                    100.0
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                }
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                }
            }
        }
    ],
    "legend": [
        {
            "data": [
                "301\u73ed\u5b66\u79d1\u5206\u6570\u5206\u5e03"
            ],
            "selected": {
                "301\u73ed\u5b66\u79d1\u5206\u6570\u5206\u5e03": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u8bed\u6587",
                "\u6570\u5b66",
                "\u82f1\u8bed"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 50,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "301\u73ed\u5b66\u79d1\u6210\u7ee9\u5206\u5e03",
            "link": "#",
            "target": "blank",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_d573a8ee5b9a439bae76e66c71247804.setOption(option_d573a8ee5b9a439bae76e66c71247804);
    </script>
</body>
</html>
