<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="436bdc62c314400bab1ffb664bd3e177" class="chart-container" style="width:740px; height:450px;"></div>
    <script>
        var chart_436bdc62c314400bab1ffb664bd3e177 = echarts.init(
            document.getElementById('436bdc62c314400bab1ffb664bd3e177'), 'white', {renderer: 'canvas'});
        var option_436bdc62c314400bab1ffb664bd3e177 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "303\u73ed\u6570\u5b66\u6210\u7ee9",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "30301",
                    99.0
                ],
                [
                    "30302",
                    80.0
                ],
                [
                    "30303",
                    90.0
                ],
                [
                    "30304",
                    89.0
                ],
                [
                    "30305",
                    84.0
                ],
                [
                    "30306",
                    82.0
                ],
                [
                    "30307",
                    91.0
                ],
                [
                    "30308",
                    100.0
                ],
                [
                    "30309",
                    64.0
                ],
                [
                    "30310",
                    76.0
                ],
                [
                    "30311",
                    95.0
                ],
                [
                    "30312",
                    91.0
                ],
                [
                    "30313",
                    83.0
                ],
                [
                    "30314",
                    96.0
                ],
                [
                    "30315",
                    61.0
                ],
                [
                    "30316",
                    88.0
                ],
                [
                    "30317",
                    92.0
                ],
                [
                    "30318",
                    96.0
                ],
                [
                    "30319",
                    58.0
                ],
                [
                    "30320",
                    91.0
                ],
                [
                    "30321",
                    97.0
                ],
                [
                    "30322",
                    81.0
                ],
                [
                    "30323",
                    96.0
                ],
                [
                    "30324",
                    92.0
                ],
                [
                    "30325",
                    96.0
                ],
                [
                    "30326",
                    94.0
                ],
                [
                    "30328",
                    92.0
                ],
                [
                    "30329",
                    96.0
                ],
                [
                    "30330",
                    90.0
                ],
                [
                    "30331",
                    88.5
                ],
                [
                    "30332",
                    84.0
                ],
                [
                    "30333",
                    58.5
                ],
                [
                    "30334",
                    78.0
                ],
                [
                    "30335",
                    73.5
                ],
                [
                    "30336",
                    84.0
                ],
                [
                    "30337",
                    92.0
                ],
                [
                    "30338",
                    85.0
                ],
                [
                    "30339",
                    90.0
                ],
                [
                    "30340",
                    84.0
                ],
                [
                    "30341",
                    73.0
                ],
                [
                    "30342",
                    86.0
                ],
                [
                    "30343",
                    73.0
                ],
                [
                    "30344",
                    97.5
                ],
                [
                    "30345",
                    80.5
                ],
                [
                    "30346",
                    91.0
                ],
                [
                    "30347",
                    86.0
                ],
                [
                    "30348",
                    91.0
                ],
                [
                    "30349",
                    39.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.5
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "303\u73ed\u6570\u5b66\u6210\u7ee9"
            ],
            "selected": {
                "303\u73ed\u6570\u5b66\u6210\u7ee9": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": 45,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "30301",
                "30302",
                "30303",
                "30304",
                "30305",
                "30306",
                "30307",
                "30308",
                "30309",
                "30310",
                "30311",
                "30312",
                "30313",
                "30314",
                "30315",
                "30316",
                "30317",
                "30318",
                "30319",
                "30320",
                "30321",
                "30322",
                "30323",
                "30324",
                "30325",
                "30326",
                "30328",
                "30329",
                "30330",
                "30331",
                "30332",
                "30333",
                "30334",
                "30335",
                "30336",
                "30337",
                "30338",
                "30339",
                "30340",
                "30341",
                "30342",
                "30343",
                "30344",
                "30345",
                "30346",
                "30347",
                "30348",
                "30349"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 50,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "303\u73ed\u6570\u5b66\u5b66\u79d1\u6210\u7ee9",
            "link": "/Edu_visualization/teacher_visual/show_line30302/",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_436bdc62c314400bab1ffb664bd3e177.setOption(option_436bdc62c314400bab1ffb664bd3e177);
    </script>
</body>
</html>
