<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="76310a71464d464ab91fa724c15e509a" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_76310a71464d464ab91fa724c15e509a = echarts.init(
            document.getElementById('76310a71464d464ab91fa724c15e509a'), 'white', {renderer: 'canvas'});
        var option_76310a71464d464ab91fa724c15e509a = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u8bed\u6587\u6210\u7ee9",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "stack": "\u5806\u53e0",
            "data": [
                [
                    "30201",
                    98.0
                ],
                [
                    "30202",
                    86.5
                ],
                [
                    "30203",
                    90.5
                ],
                [
                    "30204",
                    90.5
                ],
                [
                    "30205",
                    91.5
                ],
                [
                    "30206",
                    80.0
                ],
                [
                    "30207",
                    98.5
                ],
                [
                    "30208",
                    94.0
                ],
                [
                    "30209",
                    91.5
                ],
                [
                    "30210",
                    88.0
                ],
                [
                    "30211",
                    89.0
                ],
                [
                    "30212",
                    85.0
                ],
                [
                    "30213",
                    92.0
                ],
                [
                    "30214",
                    86.0
                ],
                [
                    "30215",
                    82.0
                ],
                [
                    "30216",
                    92.5
                ],
                [
                    "30217",
                    96.0
                ],
                [
                    "30218",
                    95.5
                ],
                [
                    "30219",
                    88.5
                ],
                [
                    "30220",
                    95.0
                ],
                [
                    "30221",
                    83.5
                ],
                [
                    "30222",
                    91.0
                ],
                [
                    "30223",
                    87.0
                ],
                [
                    "30224",
                    96.0
                ],
                [
                    "30225",
                    92.0
                ],
                [
                    "30226",
                    71.5
                ],
                [
                    "30227",
                    86.5
                ],
                [
                    "30228",
                    86.5
                ],
                [
                    "30229",
                    79.5
                ],
                [
                    "30230",
                    92.0
                ],
                [
                    "30231",
                    78.0
                ],
                [
                    "30232",
                    80.5
                ],
                [
                    "30233",
                    80.5
                ],
                [
                    "30234",
                    86.0
                ],
                [
                    "30235",
                    86.0
                ],
                [
                    "30236",
                    72.0
                ],
                [
                    "30237",
                    89.0
                ],
                [
                    "30238",
                    87.0
                ],
                [
                    "30239",
                    88.0
                ],
                [
                    "30240",
                    88.5
                ],
                [
                    "30341",
                    83.5
                ],
                [
                    "30342",
                    83.0
                ],
                [
                    "30243",
                    83.5
                ],
                [
                    "30244",
                    62.5
                ],
                [
                    "30245",
                    87.0
                ],
                [
                    "30246",
                    93.5
                ],
                [
                    "30247",
                    92.5
                ],
                [
                    "30248",
                    91.5
                ],
                [
                    "30249",
                    29.5
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.5
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u6570\u5b66\u6210\u7ee9",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "stack": "\u5806\u53e0",
            "data": [
                [
                    "30201",
                    94.0
                ],
                [
                    "30202",
                    70.0
                ],
                [
                    "30203",
                    75.0
                ],
                [
                    "30204",
                    89.0
                ],
                [
                    "30205",
                    94.0
                ],
                [
                    "30206",
                    87.0
                ],
                [
                    "30207",
                    97.0
                ],
                [
                    "30208",
                    100.0
                ],
                [
                    "30209",
                    98.0
                ],
                [
                    "30210",
                    81.0
                ],
                [
                    "30211",
                    96.0
                ],
                [
                    "30212",
                    93.0
                ],
                [
                    "30213",
                    97.0
                ],
                [
                    "30214",
                    86.0
                ],
                [
                    "30215",
                    89.0
                ],
                [
                    "30216",
                    96.0
                ],
                [
                    "30217",
                    91.0
                ],
                [
                    "30218",
                    98.0
                ],
                [
                    "30219",
                    96.0
                ],
                [
                    "30220",
                    97.0
                ],
                [
                    "30221",
                    95.0
                ],
                [
                    "30222",
                    82.0
                ],
                [
                    "30223",
                    91.0
                ],
                [
                    "30224",
                    91.0
                ],
                [
                    "30225",
                    96.0
                ],
                [
                    "30226",
                    84.0
                ],
                [
                    "30227",
                    81.0
                ],
                [
                    "30228",
                    92.0
                ],
                [
                    "30229",
                    79.0
                ],
                [
                    "30230",
                    83.0
                ],
                [
                    "30231",
                    93.0
                ],
                [
                    "30232",
                    71.0
                ],
                [
                    "30233",
                    81.0
                ],
                [
                    "30234",
                    77.0
                ],
                [
                    "30235",
                    92.0
                ],
                [
                    "30236",
                    74.0
                ],
                [
                    "30237",
                    95.0
                ],
                [
                    "30238",
                    87.5
                ],
                [
                    "30239",
                    96.0
                ],
                [
                    "30240",
                    87.0
                ],
                [
                    "30341",
                    90.0
                ],
                [
                    "30342",
                    90.5
                ],
                [
                    "30243",
                    82.0
                ],
                [
                    "30244",
                    65.0
                ],
                [
                    "30245",
                    88.0
                ],
                [
                    "30246",
                    92.0
                ],
                [
                    "30247",
                    87.0
                ],
                [
                    "30248",
                    92.0
                ],
                [
                    "30249",
                    39.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.5
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u82f1\u8bed\u6210\u7ee9",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "stack": "\u5806\u53e0",
            "data": [
                [
                    "30201",
                    100.0
                ],
                [
                    "30202",
                    100.0
                ],
                [
                    "30203",
                    66.0
                ],
                [
                    "30204",
                    78.0
                ],
                [
                    "30205",
                    92.0
                ],
                [
                    "30206",
                    94.0
                ],
                [
                    "30207",
                    100.0
                ],
                [
                    "30208",
                    100.0
                ],
                [
                    "30209",
                    100.0
                ],
                [
                    "30210",
                    98.0
                ],
                [
                    "30211",
                    96.0
                ],
                [
                    "30212",
                    86.0
                ],
                [
                    "30213",
                    92.0
                ],
                [
                    "30214",
                    88.0
                ],
                [
                    "30215",
                    86.0
                ],
                [
                    "30216",
                    100.0
                ],
                [
                    "30217",
                    98.0
                ],
                [
                    "30218",
                    98.0
                ],
                [
                    "30219",
                    100.0
                ],
                [
                    "30220",
                    100.0
                ],
                [
                    "30221",
                    88.0
                ],
                [
                    "30222",
                    98.0
                ],
                [
                    "30223",
                    96.0
                ],
                [
                    "30224",
                    100.0
                ],
                [
                    "30225",
                    98.0
                ],
                [
                    "30226",
                    100.0
                ],
                [
                    "30227",
                    96.0
                ],
                [
                    "30228",
                    98.0
                ],
                [
                    "30229",
                    70.0
                ],
                [
                    "30230",
                    82.0
                ],
                [
                    "30231",
                    72.0
                ],
                [
                    "30232",
                    78.0
                ],
                [
                    "30233",
                    84.0
                ],
                [
                    "30234",
                    94.0
                ],
                [
                    "30235",
                    100.0
                ],
                [
                    "30236",
                    84.0
                ],
                [
                    "30237",
                    90.0
                ],
                [
                    "30238",
                    94.0
                ],
                [
                    "30239",
                    100.0
                ],
                [
                    "30240",
                    90.0
                ],
                [
                    "30341",
                    88.0
                ],
                [
                    "30342",
                    84.0
                ],
                [
                    "30243",
                    100.0
                ],
                [
                    "30244",
                    48.0
                ],
                [
                    "30245",
                    90.0
                ],
                [
                    "30246",
                    96.0
                ],
                [
                    "30247",
                    86.0
                ],
                [
                    "30248",
                    94.0
                ],
                [
                    "30249",
                    46.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.5
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u8bed\u6587\u6210\u7ee9",
                "\u6570\u5b66\u6210\u7ee9",
                "\u82f1\u8bed\u6210\u7ee9"
            ],
            "selected": {
                "\u8bed\u6587\u6210\u7ee9": true,
                "\u6570\u5b66\u6210\u7ee9": true,
                "\u82f1\u8bed\u6210\u7ee9": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": 45,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "30201",
                "30202",
                "30203",
                "30204",
                "30205",
                "30206",
                "30207",
                "30208",
                "30209",
                "30210",
                "30211",
                "30212",
                "30213",
                "30214",
                "30215",
                "30216",
                "30217",
                "30218",
                "30219",
                "30220",
                "30221",
                "30222",
                "30223",
                "30224",
                "30225",
                "30226",
                "30227",
                "30228",
                "30229",
                "30230",
                "30231",
                "30232",
                "30233",
                "30234",
                "30235",
                "30236",
                "30237",
                "30238",
                "30239",
                "30240",
                "30341",
                "30342",
                "30243",
                "30244",
                "30245",
                "30246",
                "30247",
                "30248",
                "30249"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 50,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "302\u73ed\u5404\u5b66\u79d1\u5b66\u751f\u6210\u7ee9",
            "link": "#",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_76310a71464d464ab91fa724c15e509a.setOption(option_76310a71464d464ab91fa724c15e509a);
    </script>
</body>
</html>
