<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="da5b0ec301664801b95af0c1998768e7" class="chart-container" style="width:740px; height:450px;"></div>
    <script>
        var chart_da5b0ec301664801b95af0c1998768e7 = echarts.init(
            document.getElementById('da5b0ec301664801b95af0c1998768e7'), 'white', {renderer: 'canvas'});
        var option_da5b0ec301664801b95af0c1998768e7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "301\u73ed\u6570\u5b66\u6210\u7ee9",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "30101",
                    90.0
                ],
                [
                    "30102",
                    71.5
                ],
                [
                    "30103",
                    76.0
                ],
                [
                    "30104",
                    66.0
                ],
                [
                    "30105",
                    90.0
                ],
                [
                    "30106",
                    91.0
                ],
                [
                    "30107",
                    96.0
                ],
                [
                    "30108",
                    90.0
                ],
                [
                    "30109",
                    62.0
                ],
                [
                    "30110",
                    98.0
                ],
                [
                    "30111",
                    83.0
                ],
                [
                    "30112",
                    94.0
                ],
                [
                    "30113",
                    100.0
                ],
                [
                    "30114",
                    92.0
                ],
                [
                    "30115",
                    91.0
                ],
                [
                    "30116",
                    96.5
                ],
                [
                    "30117",
                    80.5
                ],
                [
                    "30118",
                    73.0
                ],
                [
                    "30119",
                    79.0
                ],
                [
                    "30120",
                    93.0
                ],
                [
                    "30121",
                    80.0
                ],
                [
                    "30122",
                    90.5
                ],
                [
                    "30123",
                    91.0
                ],
                [
                    "30124",
                    91.5
                ],
                [
                    "30125",
                    88.0
                ],
                [
                    "30126",
                    98.0
                ],
                [
                    "30127",
                    87.0
                ],
                [
                    "30128",
                    72.0
                ],
                [
                    "30129",
                    83.0
                ],
                [
                    "30130",
                    94.0
                ],
                [
                    "30131",
                    72.0
                ],
                [
                    "30132",
                    82.0
                ],
                [
                    "30133",
                    96.0
                ],
                [
                    "30134",
                    85.0
                ],
                [
                    "30135",
                    94.5
                ],
                [
                    "30136",
                    88.0
                ],
                [
                    "30137",
                    78.0
                ],
                [
                    "30138",
                    85.0
                ],
                [
                    "30139",
                    85.0
                ],
                [
                    "30140",
                    93.0
                ],
                [
                    "30141",
                    66.0
                ],
                [
                    "30142",
                    86.0
                ],
                [
                    "30143",
                    87.0
                ],
                [
                    "30144",
                    91.0
                ],
                [
                    "30145",
                    81.0
                ],
                [
                    "30146",
                    91.0
                ],
                [
                    "30147",
                    92.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.5
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "data": [
                    {
                        "type": "average"
                    }
                ]
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "301\u73ed\u6570\u5b66\u6210\u7ee9"
            ],
            "selected": {
                "301\u73ed\u6570\u5b66\u6210\u7ee9": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": 45,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "30101",
                "30102",
                "30103",
                "30104",
                "30105",
                "30106",
                "30107",
                "30108",
                "30109",
                "30110",
                "30111",
                "30112",
                "30113",
                "30114",
                "30115",
                "30116",
                "30117",
                "30118",
                "30119",
                "30120",
                "30121",
                "30122",
                "30123",
                "30124",
                "30125",
                "30126",
                "30127",
                "30128",
                "30129",
                "30130",
                "30131",
                "30132",
                "30133",
                "30134",
                "30135",
                "30136",
                "30137",
                "30138",
                "30139",
                "30140",
                "30141",
                "30142",
                "30143",
                "30144",
                "30145",
                "30146",
                "30147"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 50,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "301\u73ed\u6570\u5b66\u5b66\u79d1\u6210\u7ee9",
            "link": "/Edu_visualization/teacher_visual/show_line30102/",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_da5b0ec301664801b95af0c1998768e7.setOption(option_da5b0ec301664801b95af0c1998768e7);
    </script>
</body>
</html>
